.main-body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(242, 242, 224);
    text-align: center;
    background-color: #18181A;
}

.recipe-list {
    list-style-type: none;
}

.main-pic {
    width: 560px;
    height: auto;
    text-align: center;
}